@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');


html, body, .container { height: 100%; }

body{
	background-color: rgba(31,112,103,255);
	margin: 0;
	padding: 0;
	font-family: 'Permanent Marker', cursive;
}

.container {
	justify-content: space-evenly;
	align-items: center;
	--y-offset: 0px;
	width: 100%;
	/*border: 1px solid red;*/
	height: 100% !important;
	color: white;
}

.lettere {
	flex-direction: row;
	display: block;
	text-align: center;
	padding-top: 25%;
	height: 50%;
	/*border: 1px solid red;*/
}

.lettere, .modulo, .arrowBtn{
	flex-direction: row;
}

/*.container2{
	border: 1px solid red;
}*/

.arrowBtn i{
	color: white;
	font-size: 50px;
	margin-top: 70px;
	margin-left: 49%;
	align-items: center;
	display: inline-block;
	cursor: pointer;
}

.modulo{
	align-items: center;
	margin-left: 30% ;
}


/*.downBtn{
	position: absolute;
	bottom: 40px;
	right: 48%;
	font-size: 50px;
	background: transparent;
	color: rgb(255, 0, 119);
	border:none;
	cursor: pointer;
}

@media screen and (max-width: 999px) {
		
	.container {
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
	}
	
}*/

@media screen and (max-width: 550px) {
	.lettere {
		height: 25% !important;
		margin-top: 50% !important;
	}
	.modulo {
		margin-left: 0px !important;
		margin-right: 20%;
	}

	.modulo iframe {
		width: 400px !important;
	}
}
